# Initialization

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3
import matplotlib.pyplot as plt

# Run this in the same folder as the database
database = 'database.sqlite'

# Connect to database and list all tables

In [3]:
db = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        from sqlite_master
                        WHERE type = 'table';""", db)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

# List of countries

In [4]:
countries = pd.read_sql("""SELECT *
                           FROM Country;""", db)

countries

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [5]:
league = pd.read_sql("""SELECT *
                        FROM League;""", db)

league

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

# List of leagues and their corresponding countries

In [6]:
league = pd.read_sql("""SELECT *
                        FROM League l
                        JOIN Country c
                        ON c.id = l.country_id;""", db)

league

       id  country_id                      name     id         name
0       1           1    Belgium Jupiler League      1      Belgium
1    1729        1729    England Premier League   1729      England
2    4769        4769            France Ligue 1   4769       France
3    7809        7809     Germany 1. Bundesliga   7809      Germany
4   10257       10257             Italy Serie A  10257        Italy
5   13274       13274    Netherlands Eredivisie  13274  Netherlands
6   15722       15722        Poland Ekstraklasa  15722       Poland
7   17642       17642  Portugal Liga ZON Sagres  17642     Portugal
8   19694       19694   Scotland Premier League  19694     Scotland
9   21518       21518           Spain LIGA BBVA  21518        Spain
10  24558       24558  Switzerland Super League  24558  Switzerland

# List of first 10 teams in alphabetical order

In [7]:
teams = pd.read_sql("""SELECT *
                        FROM TEAM
                        ORDER BY team_long_name
                        LIMIT 10;""", db)

teams

      id  team_api_id  team_fifa_api_id        team_long_name team_short_name
0  16848         8350                29  1. FC Kaiserslautern             KAI
1  15624         8722                31            1. FC Köln             FCK
2  16239         8165               171        1. FC Nürnberg             NUR
3  16243         9905               169       1. FSV Mainz 05             MAI
4  11817         8576               614            AC Ajaccio             AJA
5  11074       108893            111989      AC Arles-Avignon             ARL
6  49116         6493              1714         AC Bellinzona             BEL
7  26560        10217               650          ADO Den Haag             HAA
8   9537         8583                57            AJ Auxerre             AUX
9   9547         9829                69             AS Monaco             MON

# List of matches with extra information
- All id numbers as names
- Order by date
- Include only entries from Spain
- First 10 entries only

In [13]:
match = pd.read_sql("""SELECT m.id,
                              c.name AS 'country_name',
                              l.name AS 'league_name',
                              m.season,
                              m.stage,
                              m.date,
                              ht.team_long_name AS 'home_team',
                              at.team_long_name AS 'away_team',
                              m.home_team_goal,
                              m.away_team_goal
                       FROM Match m
                       JOIN Country c ON m.country_id = c.id
                       JOIN League l ON m.league_id = l.id
                       LEFT JOIN Team ht ON m.home_team_api_id = ht.team_api_id
                       LEFT JOIN Team at ON m.away_team_api_id = at.team_api_id
                       WHERE country_name = 'Spain'
                       ORDER by m.date
                       LIMIT 10;""", db)

match

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
0,21518,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-30 00:00:00,Valencia CF,RCD Mallorca,3,0
1,21525,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-30 00:00:00,RCD Espanyol,Real Valladolid,1,0
2,21519,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,CA Osasuna,Villarreal CF,1,1
3,21520,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,RC Deportivo de La Coruña,Real Madrid CF,2,1
4,21521,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,CD Numancia,FC Barcelona,1,0
5,21522,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Racing Santander,Sevilla FC,1,1
6,21523,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Real Sporting de Gijón,Getafe CF,1,2
7,21524,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Real Betis Balompié,RC Recreativo,0,1
8,21526,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Athletic Club de Bilbao,UD Almería,1,3
9,21527,Spain,Spain LIGA BBVA,2008/2009,1,2008-08-31 00:00:00,Atlético Madrid,Málaga CF,4,0

# List of average goals per game

In [22]:
league_by_season = pd.read_sql("""SELECT m.id,
                                         c.name AS 'country_name',
                                         l.name AS 'league_name',
                                         m.season,
                                         COUNT(distinct m.stage) AS 'number_of_stages',
                                         COUNT(distinct ht.team_long_name) AS 'number_of_teams',
                                         ht.team_long_name AS 'home_team',
                                         at.team_long_name AS 'away_team',
                                         AVG(m.home_team_goal) AS 'avg_home_team_scores',
                                         AVG(m.away_team_goal) AS 'avg_away_team_goals',
                                         AVG(m.home_team_goal) - AVG(m.away_team_goal) AS 'avg_goal_diff',
                                         AVG(m.home_team_goal + m.away_team_goal) AS 'avg_goals',
                                         SUM(m.home_team_goal + m.away_team_goal) AS 'total_goals'
                                  FROM Match m
                                  JOIN Country c ON m.country_id = c.id
                                  JOIN League l ON m.league_id = l.id
                                  LEFT JOIN Team ht ON m.home_team_api_id = ht.team_api_id
                                  LEFT JOIN Team at ON m.away_team_api_id = at.team_api_id
                                  
                                  WHERE country_name in ('Spain', 'Germany', 'France', 'Italy', 'England')
                                  GROUP BY c.name, l.name, m.season
                                  ORDER BY c.name, l.name, m.season DESC;""", db)

league_by_season

,id,country_name,league_name,season,number_of_stages,number_of_teams,home_team,away_team,avg_home_team_scores,avg_away_team_goals,avg_goal_diff,avg_goals,total_goals
0,4389,England,England Premier League,2015/2016,38,20,Arsenal,West Ham United,1.492105,1.207895,0.284211,2.700000,1026
1,4009,England,England Premier League,2014/2015,38,20,Arsenal,Crystal Palace,1.473684,1.092105,0.381579,2.565789,975
2,3629,England,England Premier League,2013/2014,38,20,Arsenal,Aston Villa,1.573684,1.194737,0.378947,2.768421,1052
3,3249,England,England Premier League,2012/2013,38,20,Arsenal,Sunderland,1.557895,1.239474,0.318421,2.797368,1063
4,2869,England,England Premier League,2011/2012,38,20,Blackburn Rovers,Wolverhampton Wanderers,1.589474,1.215789,0.373684,2.805263,1066
5,2489,England,England Premier League,2010/2011,38,20,Aston Villa,West Ham United,1.623684,1.173684,0.450000,2.797368,1063
6,2109,England,England Premier League,2009/2010,38,20,Manchester United,Birmingham City,1.697368,1.073684,0.623684,2.771053,1053
7,1729,England,England Premier League,2008/2009,38,20,Manchester United,Newcastle United,1.400000,1.078947,0.321053,2.478947,942
8,7429,France,France Ligue 1,2015/2016,38,20,SC Bastia,Stade Rennais FC,1.436842,1.089474,0.347368,2.526316,960
9,7049,France,France Ligue 1,2014/2015,38,20,Stade de Reims,Paris Saint-Germain,1.410526,1.081579,0.328947,2.492105,947
10,6669,France,France Ligue 1,2013/2014,38,20,AC Ajaccio,AS Saint-Étienne,1.415789,1.039474,0.376316,2.455263,933
11,6289,France,France Ligue 1,2012/2013,38,20,Montpellier Hérault SC,Toulouse FC,1.468421,1.076316,0.392105,2.544737,967
12,5909,France,France Ligue 1,2011/2012,38,20,AC Ajaccio,Toulouse FC,1.473684,1.042105,0.431579,2.515789,956
13,5529,France,France Ligue 1,2010/2011,38,20,AJ Auxerre,FC Lorient,1.342105,1.000000,0.342105,2.342105,890
14,5149,France,France Ligue 1,2009/2010,38,20,AJ Auxerre,FC Sochaux-Montbéliard,1.389474,1.021053,0.368421,2.410526,916
15,4769,France,France Ligue 1,2008/2009,38,20,AJ Auxerre,FC Nantes,1.286842,0.971053,0.315789,2.257895,858
16,9951,Germany,Germany 1. Bundesliga,2015/2016,34,18,FC Bayern Munich,Hamburger SV,1.565359,1.264706,0.300654,2.830065,866
17,9645,Germany,Germany 1. Bundesliga,2014/2015,34,18,FC Bayern Munich,VfL Wolfsburg,1.588235,1.166667,0.421569,2.754902,843
18,9339,Germany,Germany 1. Bundesliga,2013/2014,34,18,FC Bayern Munich,Borussia Mönchengladbach,1.748366,1.411765,0.336601,3.160131,967
19,9033,Germany,Germany 1. Bundesliga,2012/2013,34,18,Borussia Dortmund,SV Werder Bremen,1.591503,1.343137,0.248366,2.934641,898
20,8727,Germany,Germany 1. Bundesliga,2011/2012,34,18,Borussia Dortmund,Hamburger SV,1.660131,1.199346,0.460784,2.859477,875
21,8421,Germany,Germany 1. Bundesliga,2010/2011,34,18,FC Bayern Munich,VfL Wolfsburg,1.647059,1.274510,0.372549,2.921569,894
22,8115,Germany,Germany 1. Bundesliga,2009/2010,34,18,VfL Wolfsburg,VfB Stuttgart,1.513072,1.316993,0.196078,2.830065,866
23,7809,Germany,Germany 1. Bundesliga,2008/2009,34,18,FC Bayern Munich,Hamburger SV,1.699346,1.222222,0.477124,2.921569,894
24,12894,Italy,Italy Serie A,2015/2016,38,20,Empoli,Chievo Verona,1.471053,1.105263,0.365789,2.576316,979
25,12515,Italy,Italy Serie A,2014/2015,38,20,Atalanta,Hellas Verona,1.498681,1.187335,0.311346,2.686016,1018
26,12135,Italy,Italy Serie A,2013/2014,38,20,Cagliari,Atalanta,1.536842,1.186842,0.350000,2.723684,1035
27,11755,Italy,Italy Serie A,2012/2013,38,20,Atalanta,Lazio,1.494737,1.144737,0.350000,2.639474,1003
28,11397,Italy,Italy Serie A,2011/2012,38,20,Atalanta,Cesena,1.511173,1.072626,0.438547,2.583799,925
29,11017,Italy,Italy Serie A,2010/2011,38,20,Bologna,Inter,1.431579,1.081579,0.350000,2.513158,955
30,10637,Italy,Italy Serie A,2009/2010,38,20,Bologna,Fiorentina,1.542105,1.068421,0.473684,2.610526,992
31,10257,Italy,Italy Serie A,2008/2009,38,20,Atalanta,Siena,1.521053,1.078947,0.442105,2.600000,988
32,24178,Spain,Spain LIGA BBVA,2015/2016,38,20,Levante UD,RC Celta de Vigo,1.618421,1.126316,0.492105,2.744737,1043
33,23798,Spain,Spain LIGA BBVA,2014/2015,38,20,Sevilla FC,Valencia CF,1.536842,1.118421,0.418421,2.655263,1009
34,23418,Spain,Spain LIGA BBVA,2013/2014,38,20,RC Celta de Vigo,RCD Espanyol,1.631579,1.118421,0.513158,2.750000,1045
35,23038,Spain,Spain LIGA BBVA,2012/2013,38,20,Athletic Club de Bilbao,Real Betis Balompié,1.686842,1.184211,0.502632,2.871053,1091
36,22658,Spain,Spain LIGA BBVA,2011/2012,38,20,Real Sociedad,Atlético Madrid,1.678947,1.084211,0.594737,2.763158,1050
37,22278,Spain,Spain LIGA BBVA,2010/2011,38,20,Atlético Madrid,Real Sporting de Gijón,1.636842,1.105263,0.531579,2.742105,1042
38,21898,Spain,Spain LIGA BBVA,2009/2010,38,20,Real Madrid CF,RC Deportivo de La Coruña,1.600000,1.113158,0.486842,2.713158,1031
39,21518,Spain,Spain LIGA BBVA,2008/2009,38,20,Valencia CF,RCD Mallorca,1.660526,1.236842,0.423684,2.897368,1101